@media (min-width: 1px) {

	* {
		box-sizing: border-box;
	}

	body {

		font-family: 'Lato', 'Open Sans' sans-serif;
		font-weight: 300;
		font-style: normal;
		color: #222122;
	}

	h1 {
		font-family: 'Lato', 'Open Sans', sans-serif;
		font-size: 2.1em;
		font-weight: 300;
		font-style: normal;
		margin: 30px 10px;
	}

	p {
		font-family: 'Lato', 'Open Sans', sans-serif;
		line-height: 1.5;
		font-weight: 300;
		font-style: normal;
	}

	.headline {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 180px;
		color: #d5cfd4;
		background-color: #747072;
		background-image: url('../img/headline-bg-small.jpg');
		background-attachment: fixed;
		background-size: 110% auto;
		padding: 0;
	}

	.headline h1 {
		margin-top: 10px;
		background-color: rgba(0,0,0,.6);
		padding: 5px 3px;
		width: 240px;

	}

	.headline a {
		position: absolute;
		bottom: 7px;
		right: 7px;
		background-color: rgba(0,0,0,.6);
		padding: 3px 3px;
		color: #d5cfd4;
		text-decoration: none;
	}

	.headline a:hover {
		text-decoration: underline;
	}

	.main-wrapper {
		margin-top: 210px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.about-wrapper {
		margin: 0 15px 30px 15px;
	}

	.images {
		width: 100%;
		float: left;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.images a {
		display: inline-block;
		float: left;
		width: 45%;
		margin: 0 2.5%;
	}

	.images img {
		float: left;
		width: 100%;
		height: auto;
		margin: 0 auto;
		border: 2px solid #2c2b2c;
		border-radius: 2px;
	}

	.contact-wrapper {
		float: left;
		width: 100%;
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer {
		width: 100%;
		float: left;
		font-size: .8em;
		text-align: center;
		color: #2c2b2c;
	}
}

@media (min-width: 500px) {

	.headline {
		height: 280px;
	}

	.headline h1 {
		font-size: 2.5em;
		width: 300px;
	}

	.main-wrapper {
		margin-top: 310px;
	}

	p {
		font-size: 1.2em;
	}
}

@media (min-width: 745px) {

	.headline {
		background-position: 0 -50px
	}

	.images-wrapper {
		max-width: 745px;
		margin: 40px auto;
	}

	.images {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

}

@media (min-width: 930px) {

	.headline {
		height: 400px;
		background-image: url('../img/headline-bg-large.jpg');
	}

	.headline h1 {
		font-size: 5em;
		width: 600px;
		margin-top: 20px;
		margin-left: 20px;
	}

	.main-wrapper {
		margin-top: 430px;
		margin-left: 20px;
		margin-right: 20px;
		overflow: hidden;
	}

	.about-wrapper {
		max-width: 45%;
		float: left;
	}

	.sc-wrapper {
		width: 50%;
		float: right;
		margin-top: 20px;
	}

	.sc-player {
		height: 490px;
	}

	.large-screen-wrapper {
		width: 100%;
		float: left;
	}

	.images-wrapper {
		width: 48%;
		float: left;
		margin-top: 0;
	}

	.first-character { 
		float: left; 
		font-size: 5em; 
		font-weight: 900;
		line-height: 60px; 
		padding-top: 8px; 
		padding-right: 8px; 
		padding-left: 3px;
	}

	.contact-wrapper {
		margin: 20px 0 0 35px;
	}
}

@media (min-width: 1500px) {

	.headline {
		background-image: url('../img/headline-bg-x-large.jpg');
		background-position: 0 -160px;
		height: 450px;
	}
	.main-wrapper {
		margin-top: 480px;
	}

	.about-wrapper {
		max-width: 700px;
	}
}

@media (min-width: 1700px) {

	.main-wrapper {
		margin-left: 40px;
		margin-right: 40px;

	}
}

@media (min-width: 1800px) {
	.sc-wrapper {
		width: 55%;
	}

	.headline h1 {
		font-size: 6.5em;
		width: 750px;
	}

}
